.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  color: var(--main-text-colour);
  font-weight: 400;
}

.auth-form {
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth-form input {
  padding: 6px;
}

.button-container {
  display: flex;
  gap: 8px;
}

.auth-button {
  align-self: flex-start;
  background-color: var(--accent-colour);
  color: black;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.auth-button:hover {
  background-color: var(--accent-colour-hover);
}
