.header {
  background-color: var(--main-background-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.container {
  display: flex;
  gap: 12px;
}

.header-text {
  color: var(--header-text-colour);
}
